
.search-btn{
    position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: black;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.search-btn:hover{
    background: gray;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px gray,
              0 0 25px gray,
              0 0 50px gray,
              0 0 100px gray;
}

.search-btn span{
    position: absolute;
  display: block;
}

@keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }

.search-btn span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03f40f);
    animation: btn-anim1 2s linear infinite;
  }


  .input{
    width: 20%;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    margin-bottom: 30px;
    border: none;
    border: 1px solid black;
    outline: none;
    background: transparent;
    border-radius: 10px;
    margin-right: 25px;
}
.input:focus {
  outline: 0;
}
.input{
    text-align: center;
}